<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  </head>
  <body>

    <header>
      <nav>
        <div class="logo">
          <img src="{% static 'moviesweb.png' %}" alt="My Website"  >
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <li class="user-profile">
            {% if user.is_authenticated %}
            <a href="{% url 'sign_out' %}">SignOut</a>
            {% else %}
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
      
     

    <div class="container border mt-5 p-5 rounded">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-center mb-3">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                
               {{message}}
            </div>
          {% endfor %}
        {% endif %}

      <div class="d-flex justify-content-between align-items-center ">
        {% if user.is_authenticated %}
        <a href="" data-bs-toggle="modal" data-bs-target="#addstudentModal" class="btn btn-primary px-4 py-2 btn-sm">Add New Studend</a>
        {% endif %}
        <form action="" method="POST" class="d-flex"> {% csrf_token %}
          <input type="search" name="searchquery" class="form-control" placeholder="Search...">
          <button class="btn btn-success mx-2" name="search">Search</button>
        </form>

      </div>
          <table class="table mt-5 table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <th>{{ student.id }}</th>
                  <td>{{ student.name }}</td>
                  <td>{{ student.email }}</td>
                  {% if user.is_authenticated %}
                  <td>
                   <a href=" " data-bs-toggle="modal" data-bs-target="#updatestudentModal_{{ student.id }}" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square"></i> edit</a>
                   <a href=" " data-bs-toggle="modal" data-bs-target="#deletestudentModal_{{ student.id }}" class="btn btn-danger btn-sm"><i class="fa-solid fa-pen-to-square"></i> delete </a>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

  
      <!-- Modal for Add new student -->
      <div class="modal fade" id="addstudentModal" tabindex="-1" aria-labelledby="addstudentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <form method="POST" action=""> {% csrf_token %} 
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="addstudentModalLabel">Add New Student</h1>
              </div>
              <div class="modal-body">
                <div class="">
                  <label for="name">Student Name </label>
                  <input type="text" name="name" class="form-control" id="name"  required>
                </div>
                <div class="">
                  <label for="email">Student Email </label>
                  <input type="email" name="email" class="form-control" id="email" required>
                </div>        
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="add" class="btn btn-success">Add New Student</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      
      {% for student in students %} 
      <!-- Modal for Update student -->
      <div class="modal fade" id="updatestudentModal_{{ student.id }}" tabindex="-1" aria-labelledby="updatestudentModalLabel_{{ student.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" action=""> {% csrf_token %} 
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="updatestudentModalLabel_{{ student.id }}">update Student</h1>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="id" value="{{ student.id }}">
                  <div class="">
                    <label for="name">Student Name </label>
                    <input type="text" name="name" class="form-control" id="name" value="{{ student.name }}" >
                  </div>
                  <div class="">
                    <label for="email">Student Email </label>
                    <input type="email" name="email" class="form-control" id="email" value="{{ student.email }}">
                  </div>        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" name="update" class="btn btn-success">Update Student</button>
                </div>
              </div>
            </form>
        </div>
      </div>

      <!-- Modal for Delete student -->
      <div class="modal fade" id="deletestudentModal_{{ student.id }}" tabindex="-1" aria-labelledby="deletestudentModalLabel_{{ student.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <form method="POST" action=""> {% csrf_token %} 
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletestudentModalLabel_{{ student.id }}">Delete Student</h1>
              </div>
              <div class="modal-body">
                <input type="hidden" name="id" value="{{ student.id }}">
                Are you sure? you want to delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="delete" class="btn btn-danger">Delete Student</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
   
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>

